/* adminDashboard.css */

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .page-container {
    display: flex;
    flex: 1;
  }
  
  .sidebar-container {
    width: 250px;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .navigationBar {
    margin-top: 60px;
  }
  
  .dashboardContents {
    flex: 1;
  }
  