html,
body {
 background: #9694941f;

}

.Container {  
    position: relative;
  }
  
  .Container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  
  /* This will ensure that the container's children are stacked on top of the overlay */
  .Container > * {
    position: relative;
    z-index: 1;
  }

.home-container {
    margin-left: 12vh;
    margin-right: 12vh;
    
    
  }
  
  .page-container {
    display: flex;
    
  }
  
  .sidebar-container {
    flex: 0 0 250px;
    margin-top: 7vh;
    margin-left: -50px;
  }

  .notificationz {
   
    overflow-y: auto;
    max-height: calc(89vh - 100px);

  }

  .footerDoc {
    overflow-y: auto;
    max-height: calc(42vh - 100px);
  }


  .notification-container {
    margin-top: 7vh;
    flex: 250px 0 0;
    margin-left: 15px;
    padding: 5px;
    height: 100vh;
  }
  
  .content-container {
    flex: 1 1 auto;
    width: 100%;
  } 
  
  @media (min-width: 768px) {
    body {
      overflow: hidden;
    }
  }

  /* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.Container2 {
  position: relative;
  color: rgba(255, 255, 255, 0.805);
  margin-top: 60px;
}

.Container2::before {
  content: "";
  position: absolute;
  margin-top: -60px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/190295/pexels-photo-190295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    opacity: 0.8;
  opacity: 0.8;
  background-size: cover;

}

/* This will ensure that the container's children are stacked on top of the overlay */
.Container2 > * {
  position: relative;
  z-index: 1;
}



