.Container5 {
    position: relative;
  }
  
  .Container5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/190295/pexels-photo-190295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    opacity: 0.8;
  }
  
  /* This will ensure that the container's children are stacked on top of the overlay */
  .Container5 > * {
    position: relative;
    z-index: 1;
  }