@import "../../node_modules/bootstrap/scss/bootstrap";


// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Define your custom colors
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #bfc4bd;

// Override Bootstrap's default variables with your custom values
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// Import your custom styles
//@import "path/to/your/custom.scss";
